#ContentBox {
    height: 100vh;
}

#instructionBox {
    border-style: dashed;
}

#inputImCanvas, #outputImCanvas {
    width: 26vw;
    height: 26vw;
    border-style: solid;
}

#pipelineDiv {
    height: 20vh;
}